# Archivos compilados de Java
*.class
bin/
target/
build/

# Configuración de Eclipse 
.settings/
.project
.metadata/

# .classpath  

# Archivos de sistema operativo
.DS_Store
Thumbs.db
*.swp

# Logs
*.log

# Archivos temporales
*.tmp
*~